/* http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain)
 * */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	margin: 0 auto -400px;
}
footer {
	height: 400px;
	border-top: 1px solid #DBDCD6;
	background-color: #F1F2EC;
}

body {
	background-color: #E0E4C4;
	font-family: "Open Sans";
}
.wrapper {
	background: url(/img/bg.png) repeat-x;
	min-height: 250px;
	background-color: #E1E2C4;
}
#container {
	background-color: #fff;
	/* max-width: 1440px; */
	/* max-width: 960px; */
	width: 100%;
}
#nav {
	position: fixed;
	width: 240px;
	background-color: #fff;
	height: 100%;
	padding: 40px;
	line-height: 40px;
	text-transform: uppercase;
	overflow-y: auto;
}
#nav a  {
	text-decoration: none;
	color: #767676;
}
#nav a:hover {
	color: #323232;
}
#nav-inner {
	min-height: 100%;
	position: relative;
}
#home-desktop {
	display: none;
}
.hide-mobile {
	display: none;
}
#nav ol {
	margin: 0px;
	padding: 0px;
}
#nav-inner > ol > li {
	border-bottom: 1px solid #E5E5E5
}
#nav ol ol {
	padding-left: 15px;
}
#rlc {
	display: block;
	margin: auto;
	width: 360px;
	clear: both;
}
.content-container {
	padding: 30px;
	/* max-width: 564px; */
	margin: 0 auto;
}
.content-container img {
	/* max-width: 100%; */
}

h1 {
	font-size: 28px;
	margin-bottom: 28px;
	line-height: 160%;
	font-weight: 300;
	font-style: italic;
	color: #446600;
}

h2 {
	font-size: 24px;
	margin-bottom: 24px;
	line-height: 140%;
	font-weight: 300;
	font-style: italic;
	color: #EF7900;
}

h1,h2 {
}

p {
	font-size: 20px;
	line-height: 160%;
	margin-bottom: 13px;
	color: #91938C;
}

#top-mobile {
	background-color: #3E6BB2;
	height: 55px;
	padding: 0px 20px;
}
#hamburger {
	margin: 20px;
	float: left;
}
#top-mobile .btn {
	display: inline-block;
	margin: 10px;
	padding: 10px;
	background-color: #F57A0D;
	border-radius: 5px;
}
#top-mobile a {
	float: right;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
a {
	color: #4CAADE;
}

footer, footer p {
	font-size: 16px;
	line-height: 160%;
	color: #586574;
}
footer a.org {
	text-decoration: none;
}
footer .organization-name {
	font-weight: 600;
	font-size: 16px;
	font-style: normal;
	color: #354057;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #DDE0DD;
}
footer div.section {
	margin-bottom: 20px;
}
#content {
}
img {
	max-width: 100%;
}
#container img {
	/* max-width: 100%; */
}
hr {
	border-top: 1px solid #DBDCD6;
	margin: 60px 0px;
}

@media (min-width: 960px) {
	#top-mobile, #close-nav, #home-mobile {
		display: none;
	}
	#home-desktop {
		display: block;
	}
	#nav {
		display: block;
		position: static;
		width: auto;
		background-color: #4868B1;
		height: auto;
		padding: 0px;
		height: 55px;
	}
	#nav a {
		color: #B5C2E1;
		line-height: 55px;
	}
	#nav #home-desktop a {
		color: #fff;
		padding-right: 15px;
	}
	#nav a:hover {
		color: #fff;
	}
	#nav-inner {
		min-height: 0;
		position: static;
		max-width: 960px;
		margin: 0 auto;
	}
	#container {
		width: 960px;
		margin: 0 auto;
	}
	#nav li {
		float: left;
		padding-right: 15px;
	}
	#nav-inner > ol > li {
		border-bottom: none;
	}
	#nav ol ol {
		display: none;
	}
}
