				<footer>
					<div class="content-container">
						<div class="section">
							<div class="vcard">
								<a class="fn org url" href="http://www.rlclakeview.com"><span class="organization-name">Resurrection Lutheran Church</span></a>
								<p class="adr">
								  <span class="streed-address">3309 N Seminary Ave</span><br />
								  <span class="locaility">Chicago</span>, <span class="region">IL</span> <span class="postal-code">60657</span>
								</p>

								<span itemprop="telephone" class="tel">
									<a href="tel:+17735250605">(773) 525-0605</a>
								</span>
								<br />
								<a href="mailto:office@rlclakeview.com" class="email">office@rlclakeview.com</a>
							</div>
						</div>

						<div class="section">
							<a href="http://www.elca.org"><img src="/img/elca.png" alt="Evangelical Lutheran Church in America - God's Work. Our hands." /></a>
						</div>
					</div>
				</footer>
			</div> <!-- #container -->
	  </div> <!-- .wrapper -->
	</body>
</html>
