				<footer>
					<div class="content-container">
						<div class="section grid-50">
							<div class="vcard">
								<p><a class="fn org url" href="http://www.rlclakeview.com"><span class="organization-name">Resurrection Lutheran Church</span></a></p>
								<p class="adr">
								  <a href="https://www.google.com/maps/place/Resurrection+Lutheran+Church/@41.9418929,-87.6584035,17z/data=!3m1!4b1!4m2!3m1!1s0x880fd3aceb62ed03:0xfc8757a09bca1b74">
									  <span class="street-address">3309 N Seminary Ave</span><br />
									  <span class="locality">Chicago</span>, <span class="region">IL</span> <span class="postal-code">60657</span>
							      </a>
								</p>

								<p>
									<span itemprop="telephone" content="+17735250605" class="tel">
										<a href="tel:+17735250605">(773) 525-0605</a>
									</span>
									<br />
									<a href="mailto:office@rlclakeview.com" class="email">office@rlclakeview.com</a>
								</p>
							</div>
						</div>
						<div class="section grid-50">
							<h1>Worship Times</h1>
							<p>{{.Site.Data.worship.time}}</p>
						</div>

						<div class="clear"></div>

						<div id="social" class="section">
							<ol>
								<li><a href="https://twitter.com/rlclakeview"><img src="/img/color-twitter-48.png" height="24" width="24" alt="Twitter @RLCLakeview"/></a></li>
								<li><a href="https://www.facebook.com/rlclakeview"><img src="/img/color-facebook-48.png" height="24" width="24" "Facebook icon" /></a></li>
								<li><a href="https://www.instagram.com/rlclakeview/"><img src="/img/color-instagram-48.png" height="24" width="24" alt="Instagram icon" /></a></li>
							</ol>
						</div>

						<div class="section">
							<a href="http://www.elca.org"><img src="/img/elca.png" alt="Evangelical Lutheran Church in America - God's Work. Our hands." /></a>
						</div>
					</div>
				</footer>
			</div> <!-- #container -->
	  </div> <!-- .wrapper -->
	</body>
</html>
