				<footer>
					<div class="content-container">
						<div class="section grid-50">
							<div class="vcard" itemscope itemtype="http://schema.org/Church">
								<p class="footer-header"><a class="fn org url" href="http://www.rlclakeview.com"><span itemprop="name">Resurrection Lutheran Church</span></a></p>
								<p class="adr" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
								  <a href="https://www.google.com/maps/place/Resurrection+Lutheran+Church/@41.9418929,-87.6584035,17z/data=!3m1!4b1!4m2!3m1!1s0x880fd3aceb62ed03:0xfc8757a09bca1b74">
								    <span itemprop="streetAddress" class="street-address">3309 N Seminary Ave</span><br />
								    <span itemprop="addressLocality" class="locality">Chicago</span>, <span itemprop="addressRegion" class="region">IL</span> <span itemprop="postalCode" class="postal-code">60657</span>
							      </a>
								</p>

								<p>
									<a href="tel:+17735250605">
										<span itemprop="telephone" content="+17735250605" class="tel">(773) 525-0605</span>
									</a>
									<br />
									<a href="mailto:office@rlclakeview.com" class="email"><span itemprop="email">office@rlclakeview.com</span></a>
								</p>
							</div>
						</div>
						<div class="section grid-50">
							<p class="footer-header">Worship Times</p>
							<p>{{.Site.Data.worship.time}}</p>
						</div>

						<div class="clear"></div>

						<div id="social" class="section">
							<ol>
								<li><a href="https://twitter.com/rlclakeview"><img src="/img/color-twitter-48.png" height="24" width="24" alt="Twitter @RLCLakeview"/></a></li>
								<li><a href="https://www.facebook.com/rlclakeview"><img src="/img/color-facebook-48.png" height="24" width="24" alt="Facebook icon" /></a></li>
								<li><a href="https://www.instagram.com/rlclakeview/"><img src="/img/color-instagram-48.png" height="24" width="24" alt="Instagram icon" /></a></li>
							</ol>
						</div>

						<div class="section">
							<a href="http://www.elca.org"><img src="/img/elca.png" alt="Evangelical Lutheran Church in America - God's Work. Our hands." /></a>
						</div>
						<div class="section">
							<p class="small align-center">
								<a href="/privacy-policy">Privacy Policy</a>
							</p>
						</div>
					</div>
				</footer>
			</div> <!-- #container -->
	  </div> <!-- .wrapper -->
	</body>
</html>
