<!DOCTYPE html>
<html lang="en-US" dir="ltr">
	<head>
		<title>{{.Title}}</title>
	</head>
	<body>
		<header>
			<nav>
				<ol>
					<li><a href="/">Home</a></li>
					<li><a href="/im-new">I'm New</a></li>
					<li><a href="/worship">Worship</a></li>
					<li>
						<a href="/about">About</a>
						<ol>
							<li><a href="/about/education">Education</a></li>
							<li><a href="/about/space">Space</a></li>
						</ol>
					</li>
					<li><a href="/life-passages">Life Passages</a></li>
					<li>
						<a href="/in-the-community">In the Community</a>
						<ol>
							<li><a href="/in-the-community/mission-endowment-fund">Mission Endowment Fund</a></li>
							<li><a href="/in-the-community/summerfest">Summerfest</a></li>
						</ol>
					</li>
					<li>
						<a href="/preschool">Preschool</a>
						<ol>
							<li><a href="/preschool/about">About</a></li>
							<li><a href="/preschool/parent-resources">Parent Resources</a></li>
						</ol>
					</li>
				</ol>
			</nav>
		</header>
