<!DOCTYPE html>
<html lang="en-US" dir="ltr">
	<head>
		<meta charset="utf-8"/>
		<title>{{.Title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="/css/rlc.css" rel="stylesheet" type="text/css" media="all" />
		<link rel="icon" sizes="192x192" href="/img/rlc-icon.png" />
		<link rel="apple-touch-icon" href="/img/rlc-ios-icon.png" />
		<link rel="icon" href="/img/favicon.ico" />
		<script>
			rlcInit = function() {
				$("#hamburger").on("click", function(e) {
					e.preventDefault();
					$("#nav").removeClass("hide-mobile");
				});
				$("#close-nav").on("click", function(e) {
					e.preventDefault();
					$("#nav").addClass("hide-mobile");
				});
			};

			WebFontConfig = {
				google: {
					families: ['Open Sans']
				}
			};

			(function(d) {
				var wf = d.createElement('script'), s = d.scripts[0];
				wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js';
				s.parentNode.insertBefore(wf, s);
			})(document);
		</script>
		<script async src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" onload="rlcInit()"></script>
	</head>
	<body>
		<div class="wrapper">
			<div id="nav" class="hide-mobile">
				<div id="nav-inner">
					<a id="close-nav" href="#">X</a>
					{{ partial "nav" . }}
				</div> <!-- #nav-inner -->
			</div> <!-- #nav -->
			<div id="container">
				<div id="top-mobile">
					<a href="#" id="hamburger"><img src="/img/hamburger.png"  alt="link to open mobile nav"/></a>
					<a href="/im-new" class="btn call-to-action">Worship with us</a>
				</div>
				<div class="content-container">
					<a href="/"><img id="logo" src="/img/rlc.png" alt="Resurrection Lutheran Church" /></a>
				</div>
