<!DOCTYPE html>
<html lang="en-US" dir="ltr">
	<head>
		<title>{.Title}</title>
		<link href="/css/rlc.css" rel="stylesheet" type="text/css" media="all" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script src="/js/rlc.js"></script>
	</head>
	<body>
		<div id="nav">
			<div id="nav-inner">
				<a id="close-nav" href="#">X</a>
				<ol>
					<li><a href="/">Home</a></li>
					<li><a href="/im-new">I'm New</a></li>
					<li><a href="/worship">Worship</a></li>
					<li>
					<a href="/about">About</a>
					<ol>
						<li><a href="/about/education">Education</a></li>
						<li><a href="/about/space">Space</a></li>
					</ol>
					</li>
					<li><a href="/life-passages">Life Passages</a></li>
					<li>
					<a href="/in-the-community">In the Community</a>
					<ol>
						<li><a href="/in-the-community/mission-endowment-fund">Mission Endowment Fund</a></li>
						<li><a href="/in-the-community/summerfest">Summerfest</a></li>
					</ol>
					</li>
					<li>
					<a href="/preschool">Preschool</a>
					<ol>
						<li><a href="/preschool/about">About</a></li>
						<li><a href="/preschool/parent-resources">Parent Resources</a></li>
					</ol>
					</li>
				</ol>
			</div> <!-- #nav-inner -->
		</div> <!-- #nav -->
		<div id="top-mobile">
			<img id="hamburger" src="/img/hamburger.png" />
			<a href="#" class="btn">Worship with us</a>
		</div>
		<div id="container">
			<div id="rlc">
				<img  src="/img/rlc.png" alt="Resurrection Lutheran Church" />
			</div>
